* {

    padding-left: 40; 
}

Label {
    width: 400; 
    background: #c000c0ff;
    margin-left: 10;
    margin-top: 10;
}

Button {
    background: #00008fff;
    padding-left: 40;
    padding-right: 40;
    height: 80; 
}

*:hover {
    background: #00cc8f;
}

Root {
    flex-direction: row;
    /* flex-grow: 1; */
    width: 1000;
}

